:root {
    --color-blue: #0a76db;
    --color-grey: #d0d0d0;
    --color-white: #fff;
    --color-dark-blue: #223554;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
===============
    Navbar
===============
*/

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  width: 100%;
  background: var(--color-white);
  padding: 0;
  margin: 0;
  position:relative;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

nav ul.dropdown--list {
  list-style:none;
  padding:0 20px;
  margin: 0;
  height: 300px;

}


nav ul li {
  display: inline-block;
}


nav ul li a {
  color:#333333;
  display:block;
  padding:0px 20px !important;
  text-decoration:none;
  height: 60px;

  margin-top: 25px;
   line-height: 60px;
   font-family: 'Nunito', sans-serif;
}


.arrow {
  transform:
  rotate(90deg);
}
.arrow:hover {
 transform: rotate(-90deg) !important;
 
}


nav ul li:hover > a{
    color:var(--color-blue);
}

nav ul li:hover > ul {
  display:flex;
}

nav ul ul {
  background: #BEBEBE;
  padding:0;
  text-align: center;
  display:none;
    width: 100%;
  position: absolute;
  top: 60px;
  left: 0px;
}


.dropdown--list {
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
display: none;
}

.menus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}


nav ul ul {
  
  display:none;
    width: 100%;
 
}

.slide {
  z-index: -5;
}



  .button-blue {
    font-family: 'Nunito', sans-serif;
    background-color: var(--color-blue);
    border-radius: 30px;
    padding: 12px 20px;
    text-decoration: none;
    color: white;
  }
  .button-white {
    background-color: var(--color-white);
    border-radius: 30px;
    padding: 12px 20px;
    text-decoration: none;
    color: black;
    margin: 30px 0px;
  }



div.slide-item {
    width: 100%;
    height: 100vh;
   padding-top: 100px;
   padding-left: 50px;
 
   }

   div.slide-item h1, div.slide-item p {
    width: 50%;
   }

   div.slide-item h1 {
    font-size: 60px;
    font-family: 'Roboto Slab', sans-serif;
   }
#one {
    background-image: url("../img/header-1.jpeg");
    background-size: cover;
}
#two {
    background-image: url("../img/header-2.jpeg");
    background-size: cover;
}
#three {
    background-image: url("../img/header-3.jpeg");
    background-size: cover;
}

.slide div h1 {
    color: var(--color-white);
}
.slide div p {
    color: var(--color-grey);
}




/*
================================
        Statistics
================================
*/

#years {
    color: var(--color-blue);
}

#statistics h1 {
    color: var(--color-dark-blue);
    font-family: 'Roboto Slab' ,sans-serif;
    font-weight: 700;
    font-size: 60px;
}

#statistics {
    height: 100vh;
    background-image: url("../img/statistics/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#iconSection {
    background-color: var(--color-white);
}

#iconSection, .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    flex-direction: column;
    border-right: 1px solid #dee2e6;

    margin: 40px 0px;
    text-align: center;
    width: 35%;
}

#iconSection div:last-child {
    border: 0;
}

#iconSection {
    width: 93%;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
    border-top: 0px !important;
}


/*
================================
        Group Section
================================
*/

#groupDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#groupDiv div {
  width: 50%;
}
#group__photo img {
  width: 95%;
  object-fit: cover;
}


#group__content {
  width: 95%;
  padding: 30px;
  background-color: #f4f5f7;
  height: 90vh !important;
  margin-left: -10%;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-left: 160px;
}

#group__content h1 {
  font-family: 'Roboto Slab', sans-serif;
  color: var(--color-dark-blue);
  font-size: 50px;
}
#group__content p {
  font-family: 'Nunito', sans-serif;
  
}

/*
================================
      Releationships
================================
*/


.slick-prev-rel {
  width: 200px;
  height: 200px;
  margin-top: 100px;
}

/*
================================
      Accomplishments
================================
*/

#accomplishments {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  
}

#accomplishments {
  background-color: #f7fbff;
}

#accomplishments h1 {
  font-family: 'Roboto Slab', sans-serif;
  color: var(--color-dark-blue);
}

#accomplishments p {
  font-family: 'Nunito', sans-serif;
  color:var(--color-dark-blue);
  width: 50%;
  text-align: center;
}

#logos {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  width: 115%;
  padding: 0 90px;
}


/*
================================
        Testimonials
================================
*/
#clientsHeading {
  padding-top: 40px;
  font-family: 'Roboto Slab', sans-serif;
}
.testimonials {
  background-color: var(--color-dark-blue);
  width: 100%;
  height: 100vh;
}

.testimonial {
  width: 90%;
  background-color: var(--color-white);
  z-index: 1;
  height: 400px;
  margin: 60px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonial .info {
  display: flex;
  margin: 50px;
  align-items: center;
}
.testimonial .info .image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial .data {
  margin-top: 5%;
  margin-left: 5%;
}

.testimonial .data h1 {
  font-size: 20px;
  color: var(--color-dark-blue);
  font-family: "Roboto Slab", sans-serif;
}

.testimonial .data p {
  font-family: "Nunito", sans-serif;
}

.testimonial .comment p {
  padding: 0% 10%;
  color: var(--color-dark-blue);
  font-family: "Nunito", sans-serif;
}

.testimonial .test-logo img {
  margin: auto;
  
}



.slick-prev, .slick-next {
  width: 200px !important;
  height: 200px !important;
  margin-top: 250px;
}

.slick-dots {
  margin-top: -10%;
}


/*
================================
       Partnership
================================
*/
#partnershipSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  
}

#partnershipSection .partner__img img {
  width: 70%;
  margin: 40px;
}

.partner__content h1 {
  font-family: "Roboto Slab", sans-serif;
  color: var(--color-dark-blue);
  width: 50%;
}

.partner__content p {
  width: 65%;
  font-family: "Nunito", sans-serif;
}


.partner__content a {
 margin: 50px 0px
}



/*
================================
       Jobs
================================
*/
#jobs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
  margin: 40px 0px
}

#jobs div {
  width: 50%;
  height: 50%;
  padding: 30px;
}

#jobs .jobs__global {
  background-color: #effaff;
}


#jobs div img {
  float: right;
  margin-top: 180px;
}

#jobs div h1 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 35px;
  width: 80%;
  margin: 10px;
}
#jobs div a {
  font-family: "Nunito", sans-serif;
}

#jobs .jobs__venture {
  background-color: #fceed8;
}

#jobs .jobs__global img, #jobs .jobs__venture img {
  width: 20%;
}

.button-dark-blue {
  background-color: var(--color-dark-blue);
  border-radius: 30px;
  padding: 12px 20px;
  text-decoration: none;
  color: white;
}
.button-dark-orange {
  background-color: #f37224;
  border-radius: 30px;
  padding: 12px 20px;
  text-decoration: none;
  color: white;
}


/*
================================
        Footer
================================
*/
footer {
  background-color: #0d3f8a;
  padding: 30px;
  color: #c0cdf7;
}

footer .first__section {
  color: #c0cdf7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

footer .first__section a {
  text-decoration: none;
  color: var(--color-white)
}
footer .first__section img {
  width: 15%;
}


footer .second__section {
  color: #c0cdf7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

footer .second__section p {
  margin: 30px;
}



footer .last__section, footer .last__section div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}


#footer__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#footer__links li a {
  margin: 0px 30px;
  text-decoration: none;
  color: #c0cdf7;
}

footer .last__section .social-media ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

footer .last__section .social-media ul li a {
  background-color: #0a76db;
  color: white;
  margin: 0px 30px;
  border-radius: 50%;
  padding: 10px;
}
/*
================================
        Responsiveness
================================
*/

@media screen and (max-width: 500px) {
    #one {
        background-image: url("../img/header-1-mobile.jpg") !important;
        background-repeat: no-repeat;
        background-size: contain;
      }
      #two {
        background-image: url("../img/header-2-mobile.jpg") !important;
        background-repeat: no-repeat;
        background-size: contain;
      }
      #three {
        background-image: url("../img/header-3-mobile.jpg") !important;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #iconSection {
        border: 1px solid;
        flex-direction: column;
    }

    .icon {
        width: 100%;
    }

    #groupDiv {
      flex-direction: column;
    }
    #group__content {
      
      margin-left: 0%;
      
      padding-left: 0px;
    }
    #groupDiv div {
      width: 90%;
    }
    #statistics {
      height: 150vh;
    }

    #accomplishments {
     height: 120vh;
    }
    #accomplishments p {
      width: 80%;
    }

    #partnershipSection {
      flex-direction: column;
    }
    
    #jobs {
      flex-direction: column;
    }
    #jobs div {
      width: 80%;
    }

    #footer__links, .first__section, .second__section, .last__section {
      flex-direction: column;
    }

    div.slide-item h1 {
      font-size: 30px;
     }

     #statistics h1 {
      font-size: 40px;
     }

     div.slide-item h1, div.slide-item p {
      width: 80%;
     }

     .btnsHolder {
      display: flex;
      align-items: center;
      flex-direction: column;
     }

     #partnershipSection, .partner__content {
      display: flex;
  
      justify-content: space-between;
      align-items: center;
     text-align: center;
     flex-direction: column;
      
    }

    .partner__content {
      margin: 20px;
    }

    .partner__content h1, .parent__content p {
      width: 100%;
    }

    .partner__content h1 {
      text-align: left;
      margin: 20px 20px;
    }

    .partner__content p {
      width: 100%;
      margin: 0px 20px;
      text-align: left;
    }

    .partner__content a {
      margin-top: 30px;
    }
    #jobs div h1 {
      font-family: "Roboto Slab", sans-serif;
      font-size: 22px;
      width: 80%;
      margin: 0px 0px 30px;
    }

    #jobs div {

    }

     
}