:root {
    --color-blue: #0a76db;
    --color-grey: #d0d0d0;
    --color-white: #fff;
    --color-dark-blue: #223554;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }



  .button-blue {
    background-color: var(--color-blue);
    border-radius: 30px;
    padding: 12px 20px;
    text-decoration: none;
    color: white;
  }
  .button-white {
    background-color: var(--color-white);
    border-radius: 30px;
    padding: 12px 20px;
    text-decoration: none;
    color: black;
    margin: 30px 0px;
  }



div.slide-item {
    width: 100%;
    height: 100vh;
   padding-top: 100px;
   padding-left: 50px;
 
   }

   div.slide-item h1, div.slide-item p {
    width: 60%;
   }
#one {
    background-image: url("../img/header-1.jpeg");
    background-size: cover;
}
#two {
    background-image: url("../img/header-2.jpeg");
    background-size: cover;
}
#three {
    background-image: url("../img/header-3.jpeg");
    background-size: cover;
}

.slide div h1 {
    color: var(--color-white);
}
.slide div p {
    color: var(--color-grey);
}


/*
================================
        Statistics
================================
*/

#years {
    color: var(--color-blue);
}

#statistics h1 {
    color: var(--color-dark-blue)
}

#statistics {
    height: 100vh;
    background-image: url("../img/statistics/bg.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#iconSection {
    background-color: var(--color-white);
}

#iconSection, .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    flex-direction: column;
    border-right: 1px solid #dee2e6;

    margin: 40px 0px;
    text-align: center;
    width: 35%;
}

#iconSection div:last-child {
    border: 0;
}

#iconSection {
    width: 93%;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
    border-top: 0px !important;
}


/*
================================
        Group Section
================================
*/

#groupDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#groupDiv div {
  width: 50%;
}
#group__photo img {
  width: 95%;
  object-fit: cover;
}


#group__content {
  width: 95%;
  padding: 30px;
  background-color: #f4f5f7;
  height: 90vh !important;
  margin-left: -10%;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-left: 160px;
}

/*
================================
      Accomplishments
================================
*/

#accomplishments {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  
}

#accomplishments {
  background-color: #f7fbff;
}

#accomplishments h1 {
  color: var(--color-dark-blue);
}

#accomplishments p {
  color: #f4f5f7;
  width: 50%;
  text-align: center;
}

#logos {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  width: 115%;
  padding: 0 90px;
}


/*
================================
        Testimonials
================================
*/
.testimonials {
  background-color: var(--color-dark-blue);
  width: 100%;
  height: 100vh;
}

.testimonial {
  width: 100%;
  background-color: var(--color-white);
  z-index: 1;
  height: 400px;
  margin: 60px 60px;
}

.testimonial .info {
  display: flex;
  margin: 50px;
  align-items: center;
}
.testimonial .info .image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial .data {
  margin-top: 5%;
  margin-left: 5%;
}

.testimonial .data h1 {
  font-size: 20px;
}

.testimonial .comment p {
  padding: 0% 10%;
  color: #f4f5f7;
}

.testimonial .test-logo img {
  margin: auto;
  
}



.slick-prev, .slick-next {
  width: 200px !important;
  height: 200px !important;
  margin-top: 250px;
}

.slick-dots {
  margin-top: -10%;
}


/*
================================
       Partnership
================================
*/
#partnershipSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f4f5f7;
  
}

#partnershipSection .partner__img img {
  width: 80%;
}

/*
================================
       Jobs
================================
*/
#jobs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

#jobs div {
  width: 50%;
  height: 50vh;
}

#jobs .jobs__global {
  background-color: #effaff;
}
#jobs .jobs__venture {
  background-color: #fceed8;
}

#jobs .jobs__global img, #jobs .jobs__venture img {
  width: 20%;
}

.button-dark-blue {
  background-color: var(--color-dark-blue);
  border-radius: 30px;
  padding: 12px 20px;
  text-decoration: none;
  color: white;
}
.button-dark-orange {
  background-color: #f37224;
  border-radius: 30px;
  padding: 12px 20px;
  text-decoration: none;
  color: white;
}


/*
================================
        Footer
================================
*/
footer {
  background-color: #0d3f8a;
  padding: 30px;
  color: #c0cdf7;
}

footer .first__section {
  color: #c0cdf7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

footer .first__section a {
  text-decoration: none;
  color: var(--color-white)
}
footer .first__section img {
  width: 15%;
}


footer .second__section {
  color: #c0cdf7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

footer .second__section p {
  margin: 30px;
}



footer .last__section, footer .last__section div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}


#footer__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#footer__links li a {
  margin: 0px 30px;
  text-decoration: none;
  color: #c0cdf7;
}

footer .last__section .social-media ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

footer .last__section .social-media ul li a {
  background-color: #0a76db;
  color: white;
  margin: 0px 30px;
  border-radius: 50%;
  padding: 10px;
}
/*
================================
        Responsiveness
================================
*/

@media screen and (max-width: 500px) {
    #one {
        background-image: url("../img/header-1-mobile.jpg") !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #two {
        background-image: url("../img/header-2-mobile.jpg") !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #three {
        background-image: url("../img/header-3-mobile.jpg") !important;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #iconSection {
        border: 1px solid;
        flex-direction: column;
    }

    .icon {
        width: 100%;
    }

    #groupDiv {
      flex-direction: column;
    }
    #group__content {
      
      margin-left: 0%;
      
      padding-left: 0px;
    }
    #groupDiv div {
      width: 90%;
    }
    #statistics {
      height: 150vh;
    }

    #accomplishments {
     height: 120vh;
    }
    #accomplishments p {
      width: 80%;
    }

    #partnershipSection {
      flex-direction: column;
    }
    
    #jobs {
      flex-direction: column;
    }
    #jobs div {
      width: 80%;
    }

    #footer__links, .first__section, .second__section, .last__section {
      flex-direction: column;
    }
}